@font-face { font-family: 'Avenida-font'; src: url('../Fonts/AvenidaW01.woff') format('woff'); }
@font-face { font-family: 'Open-Sans'; src: url('../Fonts/OpenSans-Regular.woff') format('woff'); }
@font-face { font-family: 'pacifico-webfont'; src: url('../Fonts/pacifico-webfont.woff') format('woff'); }
#img { height: 90px; }
#tudo { background-color: #ffd6da; }
.image-header { width: 10%; }
.conteudo { width: 90%; float: right; }
.menu { font-size: 15px; color: #FF0000; font-family: 'pacifico-webfont'; text-decoration: none; }
.menu li a { color:#777 ; }
#navbar { padding:20px 0 0;}
.header{background-color: #ffd6da !important;}

